@model IEnumerable<FoodOnTheGo.Models.OrderItem>

@{
    ViewData["Title"] = "ViewCartDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Cart Details</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.menu.Photo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.menu.itemname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.menu.price)
            </th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <img src="@item.menu.Photo" class="img-thumbnail img-fluid" height="40" width="100" asp-append-version="true" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.menu.itemname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.menu.price)
            </td>
            <td>
                <form asp-action="ItemDetail">
                    <input type="hidden" value="@item.menu.id" name="id" />
                    <input type="submit" value="Edit" class="btn btn-primary" />
                </form>
            </td>
            <td>
                <form asp-action="RemoveToCart" method="post">
                    <input type="hidden" value="@item.menu.id" name="id" />
                    <input type="submit" value="Remove from cart" class="btn btn-danger" />
                </form>
            </td>
        </tr>
}
    </tbody>
</table>
